@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --primary: #ea40a4;
  --business: #3a82ee;
  --personal: var(--primary);
  --light: #eee;
  --grey: #888;
  --dark: #313154;
  --danger: #ff5b57;
  --shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  --box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  --business-glow: 0 0 4px rgba(58, 130, 238, 0.75);
  --personal-glow: 0 0 4px rgba(234, 64, 164, 0.75);
  --linear-grad: linear-gradient(to right, #c6ffdd, #fbd786, #c02c31);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'montserrat', sans-serif;
  text-decoration: none;
  list-style-type: none;
}

body {
  background: rgb(231, 218, 228);
  background: linear-gradient(90deg, rgba(231, 218, 228, 1) 0%, rgba(230, 221, 221, 1) 54%, rgba(237, 125, 184, 1) 95%);
  color: var(--dark);
}

.main-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  width: 100%;
  padding-bottom: 2rem;
}

.image-holder {
  height: 300px;
  width: 300px;
  display: flex;
  background-image: url('../assets/AstroBoy.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.heading-tag {
  display: flex;
  width: 100%;
  text-align: center;
  padding-block: 2rem;
  padding-left: 4rem;
}

.heading-tag h1 {
  font-size: 3.2rem;
  font-weight: 900;
  background-image: url("../assets/Header2.jpg");
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: cover;
}

.Next-title {
  font-size: 3rem;
  background-image: url("../assets/TitleImg.jpg");
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: cover;
}

.min-container {
  display: flex;
  gap: 3rem;
  width: 100%;
  padding: 0 4rem;
}

.right-col {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.right-col-title {
  display: flex;
  gap: 1rem;
}

button {
  display: block;
  width: 10rem;
  height: 2rem;
  position: relative;
  text-align: center;
  padding: 0.2rem 0.8rem;
  transition: 0.5s;
  font-size: 1rem;
  box-shadow: 5px 5px 5px rgba(11, 9, 9, 0.6);
}

button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #c383c1;
  transition: 0.5s;
  transform: scale(0.9);
  z-index: -1;
}

button:hover::before {
  box-shadow: 5px 5px 5px rgba(150, 43, 141, 0.6);
}

button:hover {
  color: #750d73;
  box-shadow: 5px 5px 5px rgba(150, 43, 141, 0.6);
}

.scores-display {
  display: flex;
  border: 4px solid rgb(16, 14, 14);
  border-radius: 4px;
}

.score-elem {
  display: flex;
  width: 100%;
  gap: 0.5rem;
  flex-direction: column;
  padding-block: 1rem;
}

.score-elem li {
  display: block;
  width: 100%;
}

.score-elem li:nth-child(even) {
  background-color: #c5c5c5;
}

.score-elem li a {
  font-weight: 700;
  color: rgb(16, 14, 14);
  padding: 1.3rem 0.5rem;
}

.left-col {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

input[type=text],
input[type=number] {
  padding: 0.5rem 0.7rem;
  border: 0.2rem solid rgb(16, 14, 14);
  border-radius: 4px;
}

.submit-btn {
  display: flex;
  justify-content: flex-end;
}

input[type=submit] {
  padding: 0.2rem 0.8rem;
  font-size: 1rem;
  box-shadow: 5px 5px 5px rgba(11, 9, 9, 0.6);
  display: block;
  width: 10rem;
  height: 2rem;
  position: relative;
  text-align: center;
}

input[type=submit]::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #c383c1;
  transition: 0.5s;
  transform: scale(0.9);
  z-index: -1;
}

input[type=submit]:hover::before {
  box-shadow: 5px 5px 5px rgba(150, 43, 141, 0.6);
}

input[type=submit]:hover {
  color: #750d73;
  box-shadow: 5px 5px 5px rgba(150, 43, 141, 0.6);
}

.list-display {
  display: flex;
  gap: 1rem;
  font-weight: 400;
  color: rgb(18, 13, 13);
  padding: 1.3rem 0.5rem;
}

.footer-container {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #797676;
  position: absolute;
  bottom: 0;
  border: 1.5px solid rgb(16, 14, 14);
  padding-top: 2rem;
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
}
